In [0]:
import pandas as pd

## 실습에 활용한 예제

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## DataFrame 로드

In [0]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

## 1. copy (복사)

copy는 단어 그대로, dataframe을 복사할 때 사용합니다.

In [0]:
df.head()

df를 **새로운 변수(new_df)에 대입**해 주고, 새로운 변수에서 값을 바꾼다면, 원래의 DataFrame의 값은 어떻게 될까요?

In [0]:
new_df = df

In [0]:
new_df.head()

In [0]:
new_df['이름'] = 0

In [0]:
new_df.head()

In [0]:
df.head()

이렇게 되는 이유는 같은 메모리 주소를 참조하기 때문입니다.

In [0]:
hex(id(new_df))

In [0]:
hex(id(df))

굉장히 많은 분들이 실수를 하시는 부분입니다.

**원본 데이터를 유지 시키고, 새로운 변수에 복사할 때는 copy()를 사용해 주세요**

In [0]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [0]:
copy_df = df.copy()

In [0]:
hex(id(df))

In [0]:
hex(id(copy_df))

In [0]:
df.head()

In [0]:
copy_df.head()

In [0]:
copy_df['이름'] = 0

In [0]:
copy_df.head()

In [0]:
df.head()

## 2. row, column 추가 및 삭제

### 2-1. row의 추가

In [0]:
df.head()

dictionary 형태의 데이터를 만들어 준다음 **append()** 함수를 사용하여 데이터를 추가할 수 있습니다. 반드시, **ignore_index=True** 옵션을 같이 추가해 주셔야 에러가 안납니다!

In [0]:
df.append({'이름': '테디', '그룹': '테디그룹', '소속사': '끝내주는소속사', '성별': '남자', '생년월일': '1970-01-01', '키': 195.0, '혈액형': 'O', '브랜드평판지수': 12345678}, ignore_index=True)

In [0]:
df.tail()

또한, append() 한 뒤 다시 df에 대입해줘야 변경한 값이 유지 됩니다.

In [0]:
df = df.append({'이름': '테디', '그룹': '테디그룹', '소속사': '끝내주는소속사', '성별': '남자', '생년월일': '1970-01-01', '키': 195.0, '혈액형': 'O', '브랜드평판지수': 12345678}, ignore_index=True)

In [0]:
df.tail()

### 2-2. column 추가

column 추가는 매우 쉽습니다. 단순히 새로운 column을 만들고 값을 대입해주면, 자동으로 생성합니다.

In [0]:
df.head()

In [0]:
df['국적'] = '대한민국'

In [0]:
df.head()

전부 동일한 값이 추가 되면서, column도 추가된 것을 보실 수 있습니다.

만약, 값을 변경하고 싶다면, loc 함수를 활용해서 변경해 줄 수 있겠죠?

In [0]:
df.loc[ df['이름'] == '지드래곤' , '국적'] = 'korea'

In [0]:
df.head()

## 3. 통계값 다루기

In [0]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

통계값은 data type이 float나 int형 인 column을 다룹니다

In [0]:
df.head()

In [0]:
df.info()

In [0]:
df.describe()

### 3-1. min(최소값), max(최대값)

통계값은 data type이 float나 int형 인 column을 다룹니다

In [0]:
df['키'].min()

In [0]:
df['키'].max()

### 3-2. sum (합계), mean (평균)

In [0]:
df['키'].sum()

In [0]:
df['키'].mean()

### 3-3. var, variance(분산) / std, standard deviation (표준 편차)

* 분산과 표준편차는 데이터가 **평균으로부터 얼마나 떨어져 있는지 정도**를 나타냅니다.
* 분산은 **(데이터 - 평균) ** 2 을 모두 합한 값** / n
* 표준편차는 **분산의 루트**

In [0]:
import numpy as np

In [0]:
data_01 = np.array([1, 3, 5, 7, 9])
data_02 = np.array([3, 4, 5, 6, 7])

In [0]:
np.sqrt(((1-5)**2 + (3-5)**2 + (5-5)**2 + (7-5)**2 + (9-5)**2 ) / 5)

In [0]:
data_01.mean()

In [0]:
data_02.mean()

In [0]:
data_01.var(), data_02.var()

In [0]:
np.sqrt(data_01.var()), np.sqrt(data_02.var())

In [0]:
data_01.std(), data_02.std()

주로 표준편자 (std)를 많이 사용하며, **데이터가 평균으로부터 얼마나 퍼져있는지 정도를 나타내는 지표라고 이해**하시면 됩니다.

In [0]:
df['키'].var()

In [0]:
df['키'].std()

### 3-4. 갯수를 세는 count

In [0]:
df['키'].count()

### 3.5. 중앙값

In [0]:
df['키'].median()

### 3.6. 최빈값 (mode)

In [0]:
df['키'].mode()

## 4. 피벗테이블 (pivot_table)

* 피벗테이블은 엑셀의 피벗테이블과 동일합니다.
* 데이터 열 중에서 **두 개의 열을 각각 행 인덱스, 열 인덱스로 사용**하여 데이터를 조회하여 펼쳐놓은 것을 의미합니다.
* 왼쪽에 나타나는 인덱스를 **행 인덱스, 상단에 나타나는 인덱스를 열 인덱스**라고 부릅니다.

In [0]:
df.head()

In [0]:
pd.pivot_table(df, index='소속사', columns='혈액형', values='키')

In [0]:
# index는 행 인덱스
# columns는 열 인덱스
# values는 조회하고 싶은 값
pd.pivot_table(df, index='소속사', columns='혈액형', values='키')

In [0]:
# aggfunc에는 추가 계산 옵션 (np.sum, np.mean) - 기본값은 평균
pd.pivot_table(df, index='그룹', columns='혈액형', values='브랜드평판지수', aggfunc=np.mean)

## 5. GroupBy (그룹으로 묶어 보기)

* groupby는 데이터를 **그룹으로 묶어 분석**할 때 활용합니다.
* **소속사**별 키의 평균, **성별** 키의 평균 등 특정, 그룹별 통계 및 데이터의 성질을 확인하고자 할 때 활용합니다.

In [0]:
df.head()

In [0]:
df.groupby('소속사')

groupby와 함께 

* count() - 갯수
* sum() - 합계
* mean() - 평균
* var() - 분산
* std() - 표준편차
* min()/max() - 최소값, 최대값

In [0]:
df.groupby('소속사').count()

산술 통계는 자동으로 산술통계가 가능한 열만 출력됩니다.

In [0]:
df.groupby('그룹').mean()

In [0]:
df.groupby('성별').sum()

특정 열만 출력하고 싶다면?

In [0]:
df.groupby('혈액형')['키'].mean()

## 6. Multi-Index(복합 인덱스)

### 6-1. Multi-Index 적용

행 인덱스를 복합적으로 구성하고 싶은 경우는 인덱스를 리스트로 만들어 줍니다.

In [0]:
df.groupby(['혈액형', '성별']).mean()

### 6-2. Multi-Index 데이터 프레임을 피벗 테이블로 변환

Multi-Index로 된 데이터프레임을 피벗테이블 형태로 다시 변환해 줄 수 있습니다.

In [0]:
df2 = df.groupby(['혈액형', '성별']).mean()

In [0]:
df2

In [0]:
df2.unstack('혈액형')

In [0]:
df2.unstack('성별')

### 6-3. 인덱스 초기화 (reset_index)

reset_index() 는 Multi-Index로 구성된 데이터 프레임의 **인덱스를 초기화**해 줍니다.

In [0]:
df2

In [0]:
df2 = df2.reset_index()

In [0]:
df2